.header{
  height: 50px;
  width: 100vw;
  background-color: #FFFF4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  color: #6646FD;
  text-decoration: none;
}

.top-btn{
  font-weight: 600;
  margin-left: 20px;
}

.user-btn{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-name{
  color: #000000;
}

.btn{
  height: 30px;
  width: 100px;
  background-color: #1A1919;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a{
  color: #FDFDFD;
  font-weight: 600;
  text-decoration: none;
}