.profile{
  height: 500px;
  width: 500px;
  color: #FFFF4D;
  background-color: #6646FD;
  border-radius: 10px;
  border: #FDFDFD solid;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title{
  margin: 20px;
}

.profile-field{
  margin: 10px;
}

.profile-actions{
  display: flex;
  justify-content: center;
}

.profile-btn{
  height: 30px;
  padding: 0 20px;
  color: #FDFDFD;
  font-weight: 600;
  text-decoration: none;
  background-color: #1A1919;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}