<%= render "shared/header" %>

<div class='main'>

  <div class='high'>
    <div class='function-btn'>プロフ画像<br>メーカー</div>
    <div class='function-btn'>フレンド<br>掲示板</div>
  </div>

  <div class='low'>
    <div class='function-btn'>持ちブキ診断</div>
    <div class='function-btn'>戦績管理</div>
  </div>

</div>